.color_secondo {
    color: blue;
}
.contenitore1{
    background-color: orange;
    height: 250px;
    width: 225px;
    padding-left: 10 px;
    border-style: 2px solid;
    border-color: rgb(131, 85, 1);
}